body {
  background-color: #ffef1e
}

header {
  background-color: #404040;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
  height: 65px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  padding: 1.25rem 1.25rem;
  transition: 150ms ease-in-out;
}

li:hover {
  background-color: #808080;
}

li:hover a {
  color: #fff;
}

li a {
  color: #fff;
  text-decoration: none;
}

.nav-toggle {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.nav-toggle i {
  font-size: 1.3rem;
  color: #fff;
}

.open {
  height: 100vh;
}

.hidden {
  display: none;
}

section {
  background-image: url("wrapper-background-three.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-info {
  font-family: 'Kanit', sans-serif;
  width: 100%;
  background-color: #404040;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: space-around;
}

.fade-in h1 {
  width: 70%;
  animation: slideMeHeader 500ms ease-in;
}

.fade-in-info p {
  width: 70%;
  animation: slideMeInfo 1.5s ease-in;
}


@keyframes slideMeHeader {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideMeInfo {
  0% {
    transform: translateX(-1200px);
  }

  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 720px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .navbar {
    width: 100%;
  }

  nav {
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 250ms height ease-in-out;
  }

  li {
    display: block;
    text-align: center;
    padding: 1.5rem 0;
  }

  li a {
    font-size: 1.4rem;
  }

  .nav-toggle {
    display: block;
  }
}